.reviewBoxMom {
  background-color: #f2edea;
  max-width: 1920px;
  width: 100%;
}

.review_section {
  max-width: 1200px;
  padding: 80px 0;
  margin: 0 auto;
  overflow: hidden;
  background-color: #f2edea;
}
.title {
  font-weight: bold;
  font-size: 35px;
  color: #8b634b;
  padding-bottom: 20px;
  text-align: center;
}

.titleSub {
  font-size: 20px;
  text-align: center;
}

.swiper_Warp {
  margin-top: 65px;
}

/* 테블릿 */
@media (max-width: 1024px) {
  .title {
    font-size: 30px;
  }
}

/* 모바일*/
@media (max-width: 436px) {
  .title {
    font-size: 22px;
  }

  .titleSub {
    font-size: 15px;
  }

  .review_section {
    padding: 50px 0;
  }
}
