.mainBox {
  width: 100%;
  /* overflow: hidden; */
  margin: 0 auto;
  position: relative;
  max-height: 1000px;
}
.mainBox .swiper-button-prev,
.swiper-button-next {
  display: none;
}
.tabImg {
  width: 100%;
  max-height: 1000px;
  object-fit: cover;
  object-position: center;
}

#mainText1 {
  position: absolute;
  top: 13%; /* 화면 높이에 비례하여 위치 설정 */
  transform: translateX(-50%);
  left: 50%; /* 화면 너비에 비례하여 위치 설정 */
  font-size: 3vw; /* 화면 너비에 비례하여 텍스트 크기 조정 */
  color: black;
  z-index: 10;
  font-weight: bold;
  text-align: center;
}

#mainText3 {
  position: absolute;
  top: 40%;
  left: 15%;
  font-size: 3vw;
  color: white;
  z-index: 10;
  font-weight: bold;
}

/* 테블릿 버전 */
@media (max-width: 768px) {
  #mainText1 {
    top: 15%;
  }
}

/* 모바일 버전 */
@media (max-width: 436px) {
  #mainText1 {
    top: 10%;
  }
}
