.shipping-address-container {
  max-width: 28rem;
  margin: 0 auto;
  padding: 3rem;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.shipping-address-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.shipping-address-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.inputSize {
  height: 30px;
  width: 300px;
  padding-left: 5px;
}

.input-with-icon {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.input-with-icon svg {
  color: #6b7280;
  width: 1.25rem;
  height: 1.25rem;
}

.address-search-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-right: 3rem;
}

.address-search-button {
  display: flex;
  align-items: center;
  padding: 0.3rem;
  border: 1px solid #333;
  background-color: white;
  cursor: pointer;
}

.address-search-button svg {
  margin-right: 0.5rem;
}

.button-group {
  display: flex;
  gap: 0.5rem;
}

.button-group button {
  flex: 1;
  padding: 0.75rem;
  border: none;
  cursor: pointer;
}

.save-button {
  background-color: #445d9d;
  color: white;
  border-radius: 10px;
}

.default-address-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
