.ShareLinkBoxMom {
  background-color: white;
}

.ShareLinkBox {
  width: 100%;
  /* border: 1px solid black; */
  max-width: 1200px;
  justify-content: center;
  margin: 0 auto;
}

.titleBox {
  padding-left: 3%;
}

.title {
  font-size: 35px;
  color: #8b634b;
  font-weight: bold;
  padding: 80px 0 20px 0;
}

.subTitle {
  font-size: 20px;
  padding-bottom: 20px;
}

.tab_item {
  width: 300px; /* 고정 너비 */
  height: 200px; /* 고정 높이 */
  object-fit: cover;
  display: none;
}

.shareImg {
  width: 100%;
  height: 340px; /* 고정된 높이 */
  object-fit: cover; /* 이미지를 잘라서 컨테이너를 완전히 채우게 */
  object-position: center; /* 이미지 중앙 정렬 */
  margin: 0 auto;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* 부드러운 효과 */
}
.shareImg:hover {
  cursor: pointer;
  transform: scale(1.05); /* 이미지 확대 */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5); /* 그림자 추가 */
}

/* 탭 메뉴 스타일 */

.buttons {
  text-align: right;
}

.aside {
  margin-bottom: 90px;
}

.buttons {
  display: flex;
  justify-content: right;
}
.buttons div {
  border-right: 1px black solid;
  padding: 0px 10px;
  line-height: 16px;
}

.buttons div:nth-of-type(5) {
  border: none;
}
/* 상품 리스트 */
.ShareLinkList {
  padding-bottom: 100px;
}

/* 테블릿 반응 */
@media (max-width: 1024px) {
  .titleBox {
    padding-left: 5%;
  }

  .title {
    font-size: 30px;
  }

  .subTitle {
    font-size: 18px;
  }
}

/* 모바일 버전 */
@media (max-width: 436px) {
  .title {
    font-size: 22px;
  }

  .subTitle {
    font-size: 15px;
  }
}
